<div class="bg-purple-500 text-white text-center px-5 lg:px-20 flex justify-center">
    <div class="container">
        <div class="py-3 flex justify-between">
            <div class="px-4">
                <h1 class="px-5 text-lg font-bold  tracking-wider">Company</h1>
                <p class="mb-2">About</p>
                <p class="mb-2">Blog</p>
                <p class="mb-2">Jobs</p>
                <p class="mb-2">Press</p>
                <p class="mb-2">Partners</p>
            </div>
            <div class="px-4">
                <h1 class="px-5 text-lg font-bold  tracking-wider">Solutions</h1>
                <p class="mb-2">Marketing</p>
                <p class="mb-2">Analytics</p>
                <p class="mb-2">Commerce</p>
                <p class="mb-2">Insights</p>
                <p class="mb-2">Support</p>
            </div>
            <div class="px-4">
                <h1 class="px-5 text-lg font-bold  tracking-wider">Documentation</h1>
                <p class="mb-2">Guides</p>
                <p class="mb-2">API Status</p>
            </div>
            <div class="px-4">
                <h1 class="px-5 text-lg font-bold  tracking-wider">Legal</h1>
                <p class="mb-2">Claim</p>
                <p class="mb-2">Privacy</p>
                <p class="mb-2">Terms</p>
                <p class="mb-2">Press</p>
                <p class="mb-2">Partners</p>
            </div>
        </div>
        <div class="pt-10 text-center text-gray-300">
            <p>&copy; 2024 StyleHive. All rights reserved.</p>
            <p>Made with ❤️ by Shaikh Rezwan.</p>
            <p>
                Icons made by
                <a class="text-white underline" target="_blank" rel="noopener noreferrer">Freepik</a>
                from
                <a class="text-white underline" target="_blank" rel="noopener noreferrer">www.flaticon.com</a>
            </p>
        </div>
    </div>
</div>