<div class="fixed top-0 z-50 right-0 left-0 bg-orange-500">
    <div class="flex h-16 items-center justify-between">
        <div>
            <img class="w-12 rounded-2xl" src="../../assets/logo.png" alt="StyleHive Ecommerce">
        </div>
        <div>
            <div class="flex space-x-4">
                <a routerLink="/" class="text-gray-800">StyleHive</a>
                <div>
                    <button (click)="openNavbarContent('men')" mat-button>Basic</button>
                </div>
            </div>
        </div>
    </div>
</div>